<head>
  <style>
      .backgrounds{background-color:#fff;color:#a41d35}
  </style>
</head>
<section class="oe_container">
 <div class="oe_row oe_spaced">
  <h2 class="oe_slogan">
   Product uom update
  </h2>
  <p class="oe_mt32">
   This wizard help you to change units in the products
  </p>
  <p class="oe_mt32">
   NOTE : Only same Ratio of product measures are can be changed
  </p>
 </div>
</section>

<section class="oe_container oe_dark">
    <div class="oe_row oe_padded">
        <h2 class="oe_slogan">Select menu Inventory</h2>
        <div class="oe_span12">
            <div class="oe_demo oe_picture oe_screenshot">
                <a target="blank" href="uom_update_menus.png">
                    <img src="uom_update_menus.png"/>
                </a>
            </div>
        </div>
    </div>
</section>

<section class="oe_container oe_dark">
    <div class="oe_row oe_padded">
        <h2 class="oe_slogan">Product uom update menu</h2>
        <div class="oe_span12">
            <div class="oe_demo oe_picture oe_screenshot">
                <a target="blank" href="uom_update_menu.png">
                    <img src="uom_update_menu.png"/>
                </a>
            </div>
        </div>
    </div>
</section>

<section class="oe_container oe_dark">
    <div class="oe_row oe_padded">
        <h2 class="oe_slogan">Product uom update WIZARD</h2>
        <div class="oe_span12">
            <div class="oe_demo oe_picture oe_screenshot">
                <a target="blank" href="uom_update_wizard.png">
                    <img src="uom_update_wizard.png"/>
                </a>
            </div>
        </div>
    </div>
</section>

<div class="oe_span12">
<p class="oe_mt32">
If you have any questions write to this mail : torbatj79@gmail.com
</p>
</div>


